#reviewBishkek {
  .reviewBishkek {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50%;
    h1{
      font-weight: 600;
      font-size: 28.43px;
      color: #004A60;
    }

  }
}