.explore-home{
  padding-top: 10rem;
  &-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      color: #004A60;
      font-size: 28px;
      font-weight: 600;
    }
    &-btn{
      display: flex;
      align-items: center;
      gap: 20px;
      .explore-item-content{
        position: relative;
        .explore-item {
          z-index: 1;
          background-color: #FFFFFF;
          position: absolute;
          top: -22px;
          right: 0;
          width: 200px;
          border: 1px solid #004A60B2;
          border-radius: 10px;
          h3 {
            font-weight: 500;
            font-size: 16px;
          }

          .explore-title {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-left: 17px;
            transition: background .2s ease-out;
            color: #004A60B2;
            height: 40px;
          }

          .explore-input {
            -webkit-appearance: none;
            appearance: none;
            width: 0;
            height: 0;
          }

          .explore-input:checked ~ .explore-text {
            display: block;
          }

          .explore-text {
            display: none;
            width: 200px;
            height: 130px;
            cursor: pointer;

            p {
              font-weight: 500;
              padding: 8px 0 8px 17px;

              width: 184px;
              color: #004A60B2;
              border-top: 1px solid #004A60B2;
            }

          }

          .up {
            margin-left: 17px;
            color: #004A60B2;
            font-size: 15px;
          }

          .down {
            margin-left: 17px;
            color: #004A60B2;
            font-size: 15px;
          }

        }
      }
      .explore-see-btn{
        width: 109px;
        height: 40px;
        background-color: #1B76F94D;
        border: none;
        color: #1B76F9;
        border-radius: 10px;
        font-size: 15px;
      }
      .explore-see-btn:hover{
        color: #FFFFFF;
        background-color: #1B76F9;
        transition: 1s;
      }
    }
  }
}

@media screen and (max-width: 840px){
.explore-home{
  &-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &-btn{
      margin-top: 50px;
      .explore-see-btn{
        margin-left: 130px;
      }
      .explore-item-content{
        margin-left: 170px;
      }
    }
  }
}
}
