#slider{
  margin-top: 5rem;

  .slider--agent{
    .slider--agent-content{
      margin-left: 6rem;
      //width: 20px !important;
      border-radius: 10px;
      .slider--agent-content-img{
      }
    }
  }
}
.slick-dots{
  display: none !important;
}

.slick-next{
  display: none !important;
}