.list{

  .content-list{
    background-color: #1B76F9;
    width: 900px;
    height: 299px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    margin: 8rem 0 4rem 3rem;

    &-info{
      text-align: center;
      color: #FFFFFF;
      h1{
        font-weight: 600;
        font-size: 28.43px;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        margin: 25px 0;
      }
      .list-button{
        width: 140px;
        height: 56px;
        background-color: #FFFFFF;
        color: #1B76F9;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        font-weight: 500;
      }
      .list-button:hover{
          background-color: #1B76F9;
          border: 2px solid white;
          color: white;
        transition: 500ms;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .list{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}
