#review {
  .review {

    &--build {
      img {
        padding: 89px 0;
        position: absolute;
        width: 1510px;
        height: 368px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }

      h1 {
        z-index: 99;
        font-weight: 600;
        font-size: 50px;
        color: #FFFFFF;
        position: absolute;
        top: 30%;
        text-align: center;
        left: 35.50%;
      }
    }

    &--block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 24px;
      gap: 24px;

      position: absolute;
      width: 47%;
      height: 116px;
      left: 400px;
      top: 370px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 74, 96, 0.5);
      border-radius: 32px;

      &__search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 16px 32px;
        gap: 8px;


        input {
          padding: 0 20px;
          border: none;
          outline: none;
          width: 650px;
          height: 88px;
          background: rgba(0, 74, 96, 0.1);
          border-radius: 16px;
          position: absolute;
          left: 30px;
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        outline: none;
        padding: 16px 25px;
        background: #1B76F9;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        position: absolute;
        right: 57px;

        &--iconSearch {
          color: #FFFFFF;
          font-size: 27px;
        }
      }
    }
  }
}